<ion-view view-title="Projecto Boscovery SAT">
  <ion-content class="content padding project-content">
    <div class="card">
      <div class="item item-text-wrap">
        <b>Objetivo</b>
      </div>
    </div>
    <p>
      El prop&oacute;sito de este proyecto es dise&ntilde;ar e implementar un sat&eacute;lite artificial basado en el est&aacute;ndar CubeSAT y una vez finalizado, enviarlo al espacio con la ayuda de entidades p&uacute;blicas correspondientes como el Instituto Astrof&iacute;sico de Canarias o la Agencia Espacial Europea.
    </p>
    <p>
      Para poder cumplir con este objetivo, es imprescindible la participación de alumnos de Secundaria, Bachillerato y Ciclos Formativos, as&iacute; como del Profesorado.
    </p>
    <p>
      Todo este proceso se lleva a cabo en las instalaciones del <b>Colegio Salesiano San Juan Bosco de La Cuesta</b>, ubicado en San Crist&oacute;bal de La Laguna.
    </p>
    <div class="item item-image">
      <img src="img/cubesat.jpg">
    </div>
    <div class="card">
      <div class="item item-text-wrap">
        <b>Orgainzaci&oacute;n</b>
      </div>
    </div>
    <p>
      Nuestro proyecto se compone de tres &aacute;reas:
    </p>
    <p>
      Bas&aacute;ndonos en el proyecto SatNOGS, estamos desarrollando una estaci&oacute;n de radio terrestre, para realizar el seguimiento de sat&eacute;lites.
    </p>
    <p>
      Tomando como referencia el proyecto CubeSAT, estamos implementando un sat&eacute;lites de tipo 1U cuya carga &uacute;til estar&aacute; compuesta por hardware Open Source mediante la cual, podremos establecer un radio-enlace y obtener as&iacute;, datos recogidos por la instrumentaci&oacute;n de abordo.
    </p>
    <p>
      Finalmente, el aspecto documental ser&aacute; fundamental, empleando para ello herramientas de acceso libre y multiplataforma, con el objeto de registrar todos nuestros avances y errores para mejorar en futuras misiones.
    </p>
    <div class="card">
      <div class="item item-text-wrap">
        <b>Equipo</b>
      </div>
    </div>
    <div class="list">
      <div class="item item-thumbnail-left">
        <img src="img/team/eduardo_gonzalez.jpg">
        <h2>Eduardo Gonz&aacute;lez Hern&aacute;ndez</h2>
      </div>
    </div>
    <div class="list">
      <div class="item item-thumbnail-left">
        <img src="img/team/hector_melian.jpg">
        <h2>H&eacute;ctor Meli&aacute;n Plasencia</h2>
      </div>
    </div>
    <div class="list">
      <div class="item item-thumbnail-left">
        <img src="img/team/luis_herrera.jpg">
        <h2>Luis Herrera Medranda</h2>
      </div>
    </div>
    <div class="list">
      <div class="item item-thumbnail-left">
        <img src="img/team/ernesto_padron.jpg">
        <h2>Ernesto Padr&oacute;n Vel&aacute;zquez</h2>
      </div>
    </div>
    <div class="list">
      <div class="item item-thumbnail-left">
        <img src="img/team/goyo_regalado.jpg">
        <h2>Goyo Regalado Pacheco</h2>
      </div>
    </div>
    <div class="list">
      <div class="item item-thumbnail-left">
        <img src="img/team/dailos_diaz.jpg">
        <h2>Dailos D&iacute;az Lara</h2>
      </div>
    </div>
  </ion-content>
</ion-view>
