<ion-view view-title="Quiz">
  <ion-content class="content padding">
    <div class="row text-center quiz-header-scores">
      <div class="col">
        <i class="ion-trophy"></i>0
      </div>
      <div class="col">
        <i class="ion-android-cancel"></i>0
      </div>
      <div class="col">
        <i class="ion-chatbubble-working"></i>0
      </div>
    </div>
    <div class="row quiz-question">
      <h3>Pregunta</h3>
    </div>
    <button class="button button-outline button-block button-light">
      <span class="dark">Respuesta 1</span>
    </button>
    <button class="button button-outline button-block button-light">
      <span class="dark">Respuesta 2</span>
    </button>
    <button class="button button-outline button-block button-positive icon-right ion-chevron-right">
      <span>Siguiente pregunta</span>
    </button>
  </ion-content>
</ion-view>
