<ion-view view-title="Quiz">
  <ion-content class="content padding">
    <div class="row text-center quiz-header-scores">
      <div class="col">
        <i class="ion-trophy"></i>{{correctQuestions}}
      </div>
      <div class="col">
        <i class="ion-android-cancel"></i>{{wrongQuestions}}
      </div>
      <div class="col">
        <i class="ion-chatbubble-working"></i>{{totalQuestions}}
      </div>
    </div>
    <div class="row quiz-question">
      <h3>{{question}}</h3>
    </div>
    <button class="button button-outline button-block button-light"
            ng-click="checkAnswer({{answer1correct}})"
            ng-if="showAnswerButton">
      <span class="dark">{{answer1}}</span>
    </button>
    <button class="button button-outline button-block button-light"
            ng-click="checkAnswer({{answer2correct}})"
            ng-if="showAnswerButton">
      <span class="dark">{{answer2}}</span>
    </button>
    <div ng-if="showExplanation">
      <div class="row text-center"><h3>{{resultMessage}}</h3></div>
      <div class="row text-justified">
        <p>{{explanation}}</p>
      </div>
    </div>
    <button class="button button-outline button-block button-positive icon-right ion-chevron-right" ng-click="getNextQuestion()">
      <span>Siguiente pregunta</span>
    </button>
  </ion-content>
</ion-view>
