<ion-view view-title="Puntuaci&oacute;n">
  <ion-content class="content padding">
    <h3 class="text-center">Resultados obtenidos</h3>
    <div class="row">
      <div class="col">
        <div class="chart-container">
          <canvas id="scoreChart"></canvas>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <ul class="list">
            <li class="item">
              Aciertos
              <span class="badge dark">35</span>
            </li>
            <li class="item">
              Fallos
              <span class="badge dark">7</span>
            </li>
            <li class="item">
              Total contestadas
              <span class="badge dark">42</span>
            </li>
            <li class="item">
              Tiempo total
              <span class="badge dark">000:00:00</span>
            </li>
        </ul>
      </div>
    </div>
  </ion-content>
</ion-view>
